 <nav class="navbar navbar-expand-lg navbar-light"
 style="background-color: #34495e; padding: 15px; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);">

 <ul class="navbar-nav mr-auto">
   <li class="nav-item active">
     <a class="nav-link" href="home" style="color: #ecf0f1; font-weight: bold;">
       <i class="bi bi-house-door" style="font-size: 1.5em;"></i>Home<span class="sr-only">(current)</span>
     </a>
   </li>
 </ul>

 <a class="navbar-brand mx-auto">
  <span style="font-size: 1.5em; font-weight: bold; color: gold; padding-left: 420px;">~LendLink~</span>
</a>

 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav ml-auto">

     <!-- <li class="nav-item">
       <a class="nav-link" href="/about" style="color: #ecf0f1; font-weight: bold;">
         <i class="bi bi-mark" style="font-size: 1.5em;"></i></a>
     </li> -->

     <li class="nav-item">
       <a class="nav-link" href="/personal-area" style="color: #ecf0f1; font-weight: bold;">
         <i class="bi bi-person" style="font-size: 1.5em;"></i>{{name}}</a>
     </li>

     <li class="nav-item active">
       <a class="nav-link" (click)="logOut()" style="color: #ecf0f1; font-weight: bold;">
         <i class="bi bi-box-arrow-in-right" style="font-size: 1.5em;"></i><span class="sr-only">(current)</span>
       </a>
     </li>

   </ul>
 </div>
</nav>


