<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

    <div class="text-center" *ngIf="admin === 'true'">
        <h3>{{ name }}, You are an admin!</h3>
    </div>

    <div class="row">
        <div class="container text-center my-4">
            <h2 class="display-4 font-weight-bold">Discover Our Collection</h2>
            <p class="lead">Explore the available items for borrowing.</p>
          </div>
          

          <div class="upload-btn ml-auto">
            <button type="button" class="btn btn-custom" (click)="goToUpload()">
                <i class="bi bi-upload"></i> Upload Item
            </button>
        </div>

        <!-- <div class="form-group">
            <label for="itemCategory">Item Category:</label>
            <select class="form-control" id="itemCategory" name="item_category">
              <option value="" disabled selected>Select an item category</option>
              <option value="Home">Home</option>
              <option value="Office">Office</option>
              <option value="Work Tools">Work Tools</option>
              <option value="Else">Else</option>
            </select>
        </div> -->
        

        <div class="row">
            <div class="col-md-4 mb-3" *ngFor="let item of items">   
                <div class="card">
                    <div class="card-body bg-dark text-white" [ngClass]="{'text-bold': item === selectedChosenItem}">

                        <div [style.color]="'red'" [style.font-size]="'1.5em'">
                            <span *ngIf="item.taken"> In use! </span>
                          </div>

                        <h4>Item name: {{ item.item_name }}</h4>
                        <p>Category: {{ item.item_category }}</p>
                        <p>City: {{ item.city }}</p>
                        <p>Description: {{ item.description }}</p>

                        <div *ngIf="showDetails && selectedItemId === item.id" class="mt-3">
                            <hr class="bg-light">
                            <p><strong>Item ID:</strong> {{ item.id }}</p>
                            <p><strong>Number:</strong> {{ item.phon_number}}</p>
                            <p><strong>Uploaded By:</strong> {{ item.uploaded_by}}</p>
                            <p><strong>Taken:</strong> {{ item.taken }}</p>
                            <p><strong>Uploaded Date:</strong> {{ item.uploaded_date }}</p>                            
                        </div>

                        <div class="form-check mt-3">
                            <button
                              type="button"
                              class="btn btn-custom"
                              [ngClass]="{'btn-success': selectedItemId === item.id && !showDetails, 'btn-danger': selectedItemId === item.id && showDetails}"
                              (click)="handleDivClick(item)"
                            >
                              <i class="bi" [ngClass]="{'bi-box-arrow-in-down': selectedItemId === item.id && !showDetails, 'bi-box-arrow-in-up': selectedItemId === item.id && showDetails}"></i>
                              <span>{{ showDetails && selectedItemId === item.id ? 'Hide Details' : 'Show Details' }}</span>
                            </button>
                          </div>
                          

                          <!-- <h1>file </h1>
                          <input type="file" (change)="onFileSelected($event)">
                          <button type="button" (click)="onUpload()">Upload</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container text-center my-4">
            <h2 class="display-4 font-weight-bold">Currently in Use</h2>
            <p class="lead">Discover the items that are actively being borrowed so you can catch them in time next time.</p>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3" *ngFor="let takenItem of takenItems">   
                <div class="card">
                    <div class="card-body bg-dark text-white" [ngClass]="{'text-bold': takenItem === selectedChosenItem}">

                        <div class="text-center" [style.color]="'red'" [style.font-size]="'1.5em'">
                            <span *ngIf="takenItem.taken"> In use! </span>
                          </div>

                        <h4>Item name: {{ takenItem.item_name }}</h4>
                        <p>Category: {{ takenItem.item_category }}</p>
                        <p>City: {{ takenItem.city }}</p>
                        <p>Description: {{ takenItem.description }}</p>
                        <p><strong>Item ID:</strong> {{ takenItem.id }}</p>
                        <p><strong>Number:</strong> {{ takenItem.phon_number}}</p>
                        <p><strong>Uploaded By:</strong> {{ takenItem.uploaded_by}}</p>
                        <p><strong>Taken:</strong> {{ takenItem.taken }}</p>
                        <p><strong>Uploaded Date:</strong> {{ takenItem.uploaded_date }}</p>       
                                             
                        </div>                                
                    </div>
                </div>
            </div>
        </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>