
body {
    background-color: #f8f9fa;
}

.square {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    text-align: left;
}

.square h4 {
    margin-bottom: 10px;
}

.square p {
    margin-bottom: 5px;
}

.upload-btn {
    margin-bottom: 20px;
    text-align: right;
}

.upload-btn button {
    padding: 15px;
    font-size: 18px;
}

.black-background {
    background-color: black;
    color: white;
}

.text-bold {
    font-weight: bold;
}

.card {
    transition: transform 0.3s ease; 
}

.card:hover {
    font-weight: bold;

    transform: translateY(-5px); 
}

.card.hovered {
    transform: translateY(-5px); 
}

.btn-custom {
    background-color: #007bff; 
    color: #fff;
    border: 1px solid #007bff; 
    transition: transform 0.3s ease; 
}

.btn-custom:hover {
    background-color: #0056b3; 
    transform: translateY(-5px); 
}

  
  .btn-custom:hover {
    background-color: #0056b3; 
  }
  