.square {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    text-align: left;
}

.square h4 {
    margin-bottom: 10px;
}

.square p {
    margin-bottom: 5px;
}
.card {
    transition: transform 0.3s ease; 
}

.card:hover {
    font-weight: bold;

    transform: translateY(-5px); 
}

.card.hovered {
    transform: translateY(-5px); 
}

.btn-custom {
    background-color: #007bff; 
    color: #fff;
    border: 1px solid #007bff; 
    transition: transform 0.3s ease; 
}

.btn-custom:hover {
    background-color: #0056b3; 
    transform: translateY(-5px); 
}
.item-title{
    color: white;
    margin-bottom:20px ;
    padding-left:10px;
    width: 100%;
    height:35px;
    background-color:#34495e
    
}
.use {
    color: white;
    margin-bottom:20px ;
    padding-left:10px;
    width: 100%;
    height:35px;
    background-color: red; 
}
.card-body{
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.admin {
 padding-bottom: 30px;
 padding-top: 30px;

}